@charset "UTF-8";
/*!
*  filename: ej.reportdesigner.core.material.compatibility.css
*  version : 17.2.0.46
*  Copyright Syncfusion Inc. 2001 - 2019. All rights reserved.
*  Use of this code is subject to the terms of our license.
*  A copy of the current license can be obtained at any time by e-mailing
*  licensing@syncfusion.com. Any infringement will be prosecuted under
*  applicable laws.
*/
